{% extends 'base.html.twig' %}

{% block index %}
<header class="container-fluid full-image">


<nav class="navbar navbar-expand-lg navbar-light fixed-top titre">
    <div class="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <a class="navbar-brand" href="#home">
                <h1>Marcel Antoine</h1>
                <p>DEVELOPPEUR WEB</p>
            </a>
            <ul class="navbar-nav ml-auto" id="test">

                    <li class="nav-item">
                        <a class="nav-link"  href="#main">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#formation">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experiences</a>
                    </li>
                    <li class="nav-item ancre1">
                        <a class="nav-link" href="#promo">Projets</a>
                    </li>
                    <li class="nav-item ancre2">
                        <a class="nav-link" href="#fluide">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>



        <div class="row justify-content-center chevron">
            <a href="#main"><i class="fa fa-chevron-down fa-3x" aria-hidden="true" id="chevron"></i></a>
        </div>

           
</header>

    <main>


    <section class="container-fluid description">
       <div class="container">
            <div class="row justify-content-center">
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>A propos de moi</h2>
            <p>Je m'appelle Marcel Antoine, je suis developpeur web junior basé à Vesoul. J'ai commencé le developpement web et le web design pour developper un petit site perso et c'est rapidement devenue une vraie vocation. J'aime expérimenter, découvrir et apprendre au fur et à mesure de mes projets pros et persos.</p>

        </div>
        </div>

<div class="row justify-content-center fleche">
    <a href="#formation">
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
    </a>
</div>
        </div>
        </section>


<section class="container-fluid formation">
   <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h2>Formations</h2>
               </div>
            </div>

<div class="row bagage">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dev">
               <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>

                            <h4>Developpement //</h4>
<img src="asset/img/trait.jpg" alt="trait" class="trait">
           <p>Je possède les connaissances des langages PHP, Javascript ainsi que les librairies et environnements de developpement tels que Symfony, Ajax, Node.js .</p>
                </div>
        
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dev">
<i class="fa fa-database fa-3x" aria-hidden="true"></i>

            <h4>Base de données//</h4>
<img src="asset/img/trait.jpg" alt="trait" class="trait">
                   <p>Je crée la structure et exploite une base de données relationnelle; MySQL, PHPMyadmin.</p>
       </div>
    
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dev">
                      <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>

                              <h4>Créativité //</h4>
<img src="asset/img/trait.jpg" alt="trait" class="trait">
                       <p>Connaissance des techniques de communication graphique sur Photoshop, Illustrator.</p>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dev">
       <i class="fa fa-check fa-3x" aria-hidden="true"></i>

               <h4>Intégration Web //</h4>
<img src="asset/img/trait.jpg" alt="trait" class="trait">
<p>A partir de maquettes graphiques, je réalise l'intégration HTML/CSS correspondant au respect des normes et des bonnes pratiques
(Bootstrap, Materialize).</p>
 </div>
</div>
<div class="row justify-content-center fleche">
    <a href="#experience">
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
    </a>
</div>
</div>
</section>



    <section class="container-fluid experience">
        <div class="container">
             <div class="row justify-content-center">
                <h2>Expériences professionnelles</h2>
            </div>
            <div class="row justify-content-center pro">
                
<section class="col-xs-12 col-sm-3 col-md-3 col-lg-3 jaeger wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0s">
    <div class="metier metier1">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <h4>Jaeger-LeCoultre</h4>
        </div>
    </div>
                <p class="date">Décembre 2015 à Décembre 2016</p>
                <p>Assembler des pièces horlogères, pendules et montres, Régler des presses, potences et posages pour les pièces ATMOS, Contrôler les pièces au binoculaire et vidéo CAB</p>
</section>
            
<section class="col-xs-12 col-sm-3 col-md-3 col-lg-3 zodiac wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
        <div class="metier metier2">
                 <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>ECE Zodiac</h4>
                </div>
        </div>
                <p class="date">Mars 2010 à Novembre 2015</p>
                <p>Pré régler et régler les masques à oxygène pour pilote d’avion, Contrôler les vibrations des masques à oxygène, Assembler et câbler puis contrôler les pièces pour cockpit d’avion : poignée de commande de train d’atterrissage, poignée Orientation Roues Avant et bouton Fire Push (sécurité).</p>
</section>
            

<section class="col-xs-12 col-sm-3 col-md-3 col-lg-3 gendarmerie wow bounceInRight" data-wow-duration="2s" data-wow-delay="0s">
                 
    <div class="metier metier3">
            <div class="d-flex align-items-center justify-content-center flex-column">
            <h4>Gendarmerie Nationale</h4>
            </div>
    
    </div>
                <p class="date">Octobre 2007 à Octobre 2009</p>
                <p>Gendarmerie de St Claude (Jura 39),Surveiller les lieux, les agissements,  effectuer des interventions de prévention et de sécurisation des lieux, contrôler des personnes, des biens, et verbaliser des infractions
</p>
</section>
</div>
            
        

<div class="chevronexp chevronexp1">
            <div class="row justify-content-center scroll ">
                <a href="#promo">
                    <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>

<div class="chevronexp chevronexp2">
    <div class="row justify-content-center scroll ">
        <a href="#fluide">
            <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
        </a>
    </div>
</div>



</section>




<section class="container-fluid promo">
    <div class="container">

                <div class="row justify-content-center">
                <h2>Mes projets</h2>
                </div>

<section class="container-fluid chaud ">

<div class="container">
<div class="row">


<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo1 wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">

<div class="d-flex align-items-center justify-content-center flex-column">
    <h4>Intégration</h4>
    <a href="http://antoinem.promo-5.codeur.online/interro/"><p>Voir ce projet</p></a>
</div>

</section>

<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo2 wow fadeIn" data-wow-duration="2s" data-wow-delay="250ms">
<div class="d-flex align-items-center justify-content-center flex-column">
    <h4>Intégration</h4>
    <a href="http://antoinem.promo-5.codeur.online/antyo/"><p>Voir ce projet</p></a>
</div>
</section>

<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo3 wow fadeIn" data-wow-duration="1s" data-wow-delay="500ms">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Intégration</h4>
        <a href=""><p>Voir ce projet</p></a>
    </div>
</section>
</div>
<div class="row">
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo4 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.250s">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Intégration thème Wordpress</h4>
<a href="https://github.com/Fawlia/caly">
    <p>Voir ce projet</p>
</a>
    </div>
</section>
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo5 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Le juste prix</h4>
<a href="http://antoinem.promo-5.codeur.online/justeprix">
    <p>Voir ce projet</p>
</a>
    </div>
</section>
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo6 wow fadeIn" data-wow-duration="1s" data-wow-delay="750ms">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Machine à films</h4>
        <a href="http://antoinem.promo-5.codeur.online/machineafilmspagination"><p>Voir ce projet</p></a>
    </div>
</section>
</div>
<div class="row">
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo7 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.500s">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Hexa-musées</h4>
<a href="https://github.com/MagaliH/data_project">
    <p>Voir ce projet</p>
</a>
    </div>
</section>
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo8 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.750s">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Définitions balises html</h4>
        <a href="https://github.com/Gaspard25/ProjetAnkebe"><p>Voir ce projet</p></a>
    </div>
</section>
<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 photo photo9 wow fadeIn" data-wow-duration="1s" data-wow-delay="2s">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h4>Explorateur</h4>
<a href="https://github.com/Kalivins/Legorateur">
    <p>Voir ce projet</p>
</a>
    </div>
</section>
</div>

<div class="row justify-content-center arrow">
    <a href="#contact">
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
    </a>
</div>
    </div>

</section>
   
</section>



<section class="container-fluid fluide">
    <div class="container">

        <div class="row justify-content-center">
            <h2>Mes projets</h2>
        </div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="col-xs-12 photo photo9">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Explorateur</h4>
                    <p>Voir ce projet</p>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo8">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Définitions balises html</h4>
                    <a href="https://github.com/Gaspard25/ProjetAnkebe"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo7">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Hexa-musées</h4>
        <a href="https://github.com/MagaliH/data_project"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo6">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Machine à films</h4>
        <a href="http://antoinem.promo-5.codeur.online/machineafilmspagination"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo5">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Le juste prix</h4>
                    <a href="http://antoinem.promo-5.codeur.online/justeprix"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo4">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Intégration thème Wordpress</h4>
                    <a href="https://github.com/Fawlia/caly"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo3">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Intégration</h4>
        <a href=""><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Intégration</h4>
        <a href="http://antoinem.promo-5.codeur.online/antyo/"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <div class="carousel-item">
            <section class="col-xs-12 photo photo1">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h4>Intégration</h4>
        <a href="http://antoinem.promo-5.codeur.online/interro/"><p>Voir ce projet</p></a>
                </div>
            </section>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>

<div class="row justify-content-center arrow">
    <a href="#contact">
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
    </a>
</div>


</section>




<section class="container-fluid contact">
        <div  class="container">

            <form method="post" action="/contact">
  
                 
                 
            <div class="row justify-content-center">
               <h2>Contactez-moi</h2>
            </div>
            <div class="row formulaire">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="form-group row">
                    <label for="nom" class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-12">
                        <input type="text" class="form-control" name='nom' id="nom" placeholder="Nom">
                        </div>
                </div>

                <div class="form-group row">
                    <label for="prenom" class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-12">
                        <input type="text" class="form-control" name='prenom'id="prenom" placeholder="Prenom">
                        </div>
               </div>
                <div class="form-group row">
                   <label for="email" class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                </div>

                 <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="4"></textarea>
                </div>
                 {% if state == true %}
                <p class="valid">Remplisser correctement les champs du formulaire</p>
                {% endif %}
                 

                <div class="row justify-content-center">

                    <input class="btn btn-primary" type="submit" value="Envoyer">


                </div>
</form>
 </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 network">
                    
            <div class="row justify-content-around social">
<section class="wow swing" data-wow-duration="3s" data-wow-delay="0s">
            <a href="https://www.facebook.com/antoine.marcel.75?ref=bookmarks"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
            </section>
<section class="wow swing" data-wow-duration="3s" data-wow-delay="100mss">
            <a href="https://www.linkedin.com/in/antoine-marcel-5242b1152/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            </section>
           
<section class="wow swing" data-wow-duration="3s" data-wow-delay="200ms">
            <a href="https://twitter.com/AntoineMarcel?lang=fr"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            </section>
            
<section class="wow swing" data-wow-duration="3s" data-wow-delay="300ms">
            <a href="https://github.com/Gaspard25"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            </section>
            </div>

            </div>
                

           

        </div>
        

<div class="row justify-content-center up">
    <a href="#home">
        <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
    </a>
</div>


    </section>

    </main>

{% endblock %}


    
